.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
  padding: 10px;
  background-color: wheat;
  border: 2px solid tomato;
}

.title {
  display: flex;
  justify-content: center;
  padding: 10px;
}
